$stroke: 15px;

@import "./variables.scss";

.#{$ZIPPY_PROGRESS_BAR_ROOT_CLASS} {
  box-sizing: content-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  position: relative;
  background: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #dedede;

  &__barsWrapper {
    display: flex;
  }

  // bring label over ticks and steps
  &__label {
    justify-content: center;
    position: relative;
    z-index: 5;
  }

  &__fill {
    color: yellow;
    overflow: hidden;
    white-space: nowrap;
  }

  &__remaining {
    overflow: hidden;
    white-space: nowrap;
  }

  &--transition {
    .#{$ZIPPY_PROGRESS_BAR_ROOT_CLASS}__fill,
    .#{$ZIPPY_PROGRESS_BAR_ROOT_CLASS}__remaining {
      transition: width 150ms ease;
    }
  }
}

// label position
@import "./base-label-position.scss";

// steps
@import "./base-steps.scss";

// ticks
@import "./base-ticks.scss";

// ideterminate
@import "./base-indeterminate.scss";
