@import './variables.scss';
@import '../../DropdownButton/style/base.scss';
@import '../../ToolBar/style/base.scss';

.#{$ZIPPY_MENU_BAR_ROOT_CLASS} {
  display: flex;
  flex-wrap: nowrap;
  text-align: start;
  direction: ltr;
}

.#{$ZIPPY_MENU_BAR_ROOT_CLASS}--rtl {
  direction: rtl;
}
