@import "./variables.scss";

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS_WRAPPER} {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;

  &,
  * {
    box-sizing: border-box;
  }
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS} {
  position: absolute;
  visibility: hidden;
  background: #fff;
  text-align: start;
  direction: ltr;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__content-no-title {
  display: flex;
  flex-direction: column;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__content {
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--relative-to-viewport {
  position: fixed;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--visible {
  visibility: visible;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--rtl {
  direction: rtl;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__close-button--rtl {
  position: absolute;
  top: 2px;
  left: -2px;
  min-width: 18px;
  min-height: 18px;

  svg {
    fill: #e9ecf0;
  }
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__pin-button--rtl {
  position: absolute;
  top: 2px;
  left: 18px;

  svg {
    width: 16px;
    height: 16px;
    fill: #e9ecf0;
  }
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--move-transition {
  transition: all 300ms ease;
}

// animation
.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--has-transition {
  visibility: visible;

  &.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--transition-enter {
    // opacity: 0;
  }

  &.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--transition-enter-active {
    // transition: opacity 300ms ease;
    // opacity: 1;
  }

  &.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--transition-leave {
    // visibility: visible;
    // opacity: 1;
  }

  &.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--transition-leave-active {
    // transition: opacity 300ms ease;
    // opacity: 0;
  }
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--shadow {
  box-shadow: 1px 1px 5px -1px rgba(78, 78, 78, 0.5);
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}--non-blocking {
  pointer-events: none;
}

// header
.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__header {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  position: relative;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__header-no-title {
  padding: 16px 8px 0 8px;
  display: flex;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__header__spacer {
  flex: 1;
}

// title
.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__title {
  flex: 1 1 auto;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__title--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__close-button {
  position: relative;
  top: 2px;
  min-width: 18px;
  min-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__pin-button {
  position: relative;
  top: 2px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__pin-button--active {
  fill: #000;
}

.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__close-button,
.#{$ZIPPY_NOTIFICATION_ROOT_CLASS}__pin-button {
  line-height: 0;
  cursor: pointer;
  align-self: flex-start;
}
