@import './round.scss';

@keyframes zippy-react-toolkit-load-mask-animation__loader-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.zippy-react-toolkit-load-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;

  &--visible {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.zippy-react-toolkit-load-mask__loader {
  position: relative;
}

.zippy-react-toolkit-load-mask__background-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.zippy-react-toolkit-load-mask__loader-loadbar {
  animation: zippy-react-toolkit-load-mask-animation__loader-fade 1s linear
    infinite;
  position: absolute;
  background: #000;
  left: 44.5%;
  top: 37%;
  width: 12%;
  height: 26%;
  opacity: 0;
}

@for $index from 0 through 11 {
  .zippy-react-toolkit-load-mask__loader-loadbar--#{$index + 1} {
    transform: rotate(#{30*$index}deg) translate(0, -142%);
    animation-delay: -($index*1s - decimal-round($index/12, 4));
  }
}
