@import "../../variables.scss";

$ZIPPY_MENU_THEME_NAME: "default" !default;

$ZIPPY_MENU_MAIN_COLOR: #e8f2ff !default;
$ZIPPY_MENU_HOVER_COLOR: #fff0d9 !default;
$ZIPPY_MENU_SECONDARY_COLOR: #000 !default;

$ZIPPY_MENU_GRAY_COLOR: #9e9e9e !default;
$ZIPPY_MENU_GRAY_COLOR_LIGHT: rgba(66, 66, 66, 0.4) !default;
$ZIPPY_MENU_COLOR: #424242 !default;

// font
$ZIPPY_MENU_FONT_WEIGHT: 400 !default;
$ZIPPY_MENU_FONT_SIZE: 14px !default;

// colors
$ZIPPY_MENU_BACKGROUND: #fff !default;
$ZIPPY_MENU_BORDER_COLOR: #bdbdbd !default;
$ZIPPY_MENU_ICON_COLOR: #495e85;
$ZIPPY_MENU_ICON_DISABLED_COLOR: rgba(73, 94, 133, 0.7);
$ZIPPY_MENU_DESCRIPTION_COLOR: $ZIPPY_MENU_GRAY_COLOR !default;
$ZIPPY_MENU_EXPANDER_FILL: #495e85;

// container
$ZIPPY_MENU_SHADOW: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
$ZIPPY_MENU_SHADOW_RTL: -2px 2px 4px 0 rgba(0, 0, 0, 0.15);

// color states row
$ZIPPY_MENU_ITEM_OVER_BORDER_COLOR: #a1b6d3;
$ZIPPY_MENU_ITEM_OVER_BACKGROUND: $ZIPPY_MENU_MAIN_COLOR !default;
$ZIPPY_MENU_ITEM_OVER_COLOR: $ZIPPY_MENU_SECONDARY_COLOR !default;
$ZIPPY_MENU_ITEM_OVER_INPUT_FILL: $ZIPPY_MENU_SECONDARY_COLOR !default;
$ZIPPY_MENU_ITEM_OVER_BORDER: 1px dotted $ZIPPY_MENU_ITEM_OVER_BORDER_COLOR;

$ZIPPY_MENU_ITEM_FOCUSED_BACKGROUND: $ZIPPY_MENU_MAIN_COLOR !default;
$ZIPPY_MENU_ITEM_FOCUSED_COLOR: $ZIPPY_MENU_SECONDARY_COLOR !default;

$ZIPPY_MENU_ITEM_ACTIVE_BACKGROUND: $ZIPPY_MENU_MAIN_COLOR !default;
$ZIPPY_MENU_ITEM_ACTIVE_COLOR: $ZIPPY_MENU_SECONDARY_COLOR !default;

$ZIPPY_MENU_ITEM_EXPANDED_BACKGROUND: $ZIPPY_MENU_MAIN_COLOR !default;
$ZIPPY_MENU_ITEM_EXPANDED_COLOR: $ZIPPY_MENU_SECONDARY_COLOR !default;

$ZIPPY_MENU_ITEM_CHECKED_COLOR: $ZIPPY_MENU_MAIN_COLOR !default;

$ZIPPY_MENU_ITEM_FOCUSED_BORDER: 1px dotted $ZIPPY_MENU_ITEM_OVER_BORDER_COLOR !default;
$ZIPPY_MENU_ITEM_FOCUSED_OVER_BORDER: 1px dotted
  $ZIPPY_MENU_ITEM_OVER_BORDER_COLOR !default;
// $ZIPPY_MENU_ITEM_FOCUSED_OVER_BORDER: 1px solid $ZIPPY_MENU_SECONDARY_COLOR
//   !default;

$ZIPPY_MENU_ITEM_DISABLED_COLOR: rgba(66, 66, 66, 0.4) !default;

$ZIPPY_MENU_LEVEL_1_BACKGROUND: #fdfdfd !default;
$ZIPPY_MENU_LEVEL_2_BACKGROUND: #fbfbfb !default;
$ZIPPY_MENU_LEVEL_3_BACKGROUND: #fafafa !default;

// separator
$ZIPPY_MENU_SEPARATOR_COLOR: #fff !default;
$ZIPPY_MENU_SEPARATOR_TOOL_BACKGROUND: $ZIPPY_MENU_BORDER_COLOR !default;
$ZIPPY_MENU_SEPARATOR_TOOL_SIZE: 1px !default;
$ZIPPY_MENU_MENU_SEPARATOR_PADDING: 4px !default;

// dimensions
$ZIPPY_MENU_ROOT_PADDING: 8px 6px !default;
$ZIPPY_MENU-ROOT_HAS_SCROLL_PADDING: $ZIPPY_MENU_ROOT_PADDING !default;

$ZIPPY_MENU_CELL_PADDING: 0 6px !default;
$ZIPPY_MENU_FIRST_CELL_PADDING_LEFT: 16px !default;
$ZIPPY_MENU_FLAST_CELL_PADDING_RIGHT: 6px !default;
$ZIPPY_MENU_CELL_HEIGHT: 32px;
$ZIPPY_MENU_FIRST_AND_LAST_CELL_PADDING: 9px 16px 9px 16px !default;
$ZIPPY_MENU_EXPANDER_CELL_PADDING_END: 5px !default;
$ZIPPY_MENU_MENU_VERTICAL_PADDING: 8px !default;

// scroll
$ZIPPY_MENU_SCRLL_ARROW_FILL: #495e85 !default;
$ZIPPY_MENU_SCROLL_ARROW_BACKGROUND: #fff !default;
$ZIPPY_MENU_SCROLL_ARROW_BORDER: 1px solid $ZIPPY_MENU_BORDER_COLOR !default;
$ZIPPY_MENU_SCROLL_ARROW_BACKGROUND_OVER: #cfd8dc !default;
$ZIPPY_MENU_SCROLL_ARROW_FILL_OVER: $ZIPPY_MENU_MAIN_COLOR !default;
$ZIPPY_MENU_SCROLL_ARROW_HEIGHT: 20px !default;
$ZIPPY_MENU_MOBILE_SCROLL_ARROW_HEIGHT: 20px !default;
