@import "../../variables.scss";

$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME: "default" !default;

.#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}.#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME} {
  padding: 2px 8px;
  background: $ZIPPY_PAGINATION_TOOLBAR_BG;
  fill: $ZIPPY_PAGINATION_TOOLBAR_ICON_FILL_COLOR;

  &,
  input {
    color: $ZIPPY_PAGINATION_TOOLBAR_COLOR;
    font-size: $ZIPPY_PAGINATION_TOOLBAR_FONT_SIZE;
  }

  &.#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}--bordered {
    border: $ZIPPY_PAGINATION_TOOLBAR_BORDERED_BORDER;
  }

  .#{$ZIPPY_BUTTON_ROOT_CLASS} {
    &:not(.zippy-react-toolkit-dropdown-button__button):not(.zippy-react-toolkit-split-button__button) {
      padding: 2px 3px;
      margin: 0 2px;
    }
  }

  .zippy-react-toolkit-toolbar__separator {
    margin: 6px 2px;
  }

  .zippy-react-toolkit-numeric-input--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME} {
    // padding-top: 0px;
    // padding-bottom: 0px;

    // input {
    //   margin-top: 0px;
    //   margin-bottom: 0px;
    // }

    // .zippy-react-toolkit-numeric-input__spinner-wrapper {
    //   margin-top: 3px;
    //   margin-bottom: 3px;
    // }
  }

  .zippy-react-toolkit-numeric-input--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME},
  .zippy-react-toolkit-combo-box--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME},
  .zippy-react-toolkit-combo-box--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME}
  .zippy-react-toolkit-combo-box__list,
  input:not(.zippy-react-toolkit-numeric-input__input) {
    border: 1px solid $ZIPPY_PAGINATION_TOOLBAR_BORDER_COLOR;
    outline: none;
  }

  .zippy-react-toolkit-combo-box--focus.zippy-react-toolkit-combo-box--theme-#{$ZIPPY_PAGINATION_TOOLBAR_THEME_NAME},
  .zippy-react-toolkit-numeric-input.zippy-react-toolkit-numeric-input--focused,
  input:not(.zippy-react-toolkit-numeric-input__input):focus {
    border: 1px solid $ZIPPY_PAGINATION_TOOLBAR_FOCUSED_INPUT_BORDER_COLOR;
  }

  .zippy-react-toolkit-toolbar__separator {
    background: $ZIPPY_PAGINATION_TOOLBAR_BORDER_COLOR;
  }

  .#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}__current-page {
    margin: 0 8px;
  }

  .#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}__page-size-combo {
    margin-right: 2px;
    margin-left: 8px;
    background: white;
  }

  .#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}__icon {
    user-select: none;
    fill: $ZIPPY_PAGINATION_TOOLBAR_ICON_FILL_COLOR;

    &:not(.#{$ZIPPY_PAGINATION_TOOLBAR_ROOT_CLASS}__icon--disabled):hover {
      background: $ZIPPY_PAGINATION_TOOLBAR_ICON_HOVER_BG_COLOR;
    }

    &--focused {
      background: $ZIPPY_PAGINATION_TOOLBAR_ICON_FOCUSED_BG_COLOR;
    }

    &--named--PREV_PAGE {
      margin-right: 10px;
    }

    &--named--NEXT_PAGE {
      margin-left: 10px;
    }
  }
}
