@import '../../variables.scss';

$ZIPPY_BUTTON_GROUP_THEME_NAME: 'default' !default;
$ZIPPY_BUTTON_GROUP_BG_COLOR: #d2dff0 !default;
$ZIPPY_BUTTON_GROUP_SEPARATOR_COLOR: #e9fcf0 !default;
$ZIPPY_BUTTON_GROUP_HOVER_SEPARATOR_COLOR: #fff !default;
$ZIPPY_BUTTON_GROUP_PRESSED_BG_COLOR: #3c5c99 !default;
