@import "../../Menu/style/base.scss";
@import "../../Button/style/base.scss";
@import "./variables.scss";

.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS} {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  .zippy-react-toolkit-dropdown-button__arrow,
  .zippy-react-toolkit-button__icon-wrap {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  // needs to be nested so it is not overwritten by
  // default menu style
  .#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}__menu {
    z-index: 1000;
    position: fixed;
    backface-visibility: hidden;
  }
}

.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}__arrow {
  svg {
    vertical-align: middle;
    display: inline-block;
  }
}
