@import './variables.scss';

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS},
.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS} * {
  box-sizing: border-box;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS} {
  display: inline-flex;
  overflow: hidden;
  background: white;
  align-items: center;
  padding: 0 0 0 8px;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__number-input {
  flex: 1;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__input::-ms-clear {
  display: none;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__spinner-wrapper-hidden {
  visibility: hidden;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__spinner-wrapper,
.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__clear-button-wrapper {
  display: flex;
  flex-flow: column;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__clear-button-wrapper {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
  transform: translate3d(
    0,
    0,
    0px
  ); // needed because otherwise chrome flickers the position of the wrapper
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__clear-button-wrapper--hidden {
  visibility: hidden;
  opacity: 0;
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__clear-button {
  cursor: pointer;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  top: 0;
  right: 1px;
  bottom: 0;
  margin-right: 6px;

  &:active {
    margin-top: 1px;
  }

  svg {
    // fill: rgb(135, 135, 135);
    width: 20px;
    height: 20px;
  }
}

.#{$ZIPPY_NUMERIC_INPUT_ROOT_CLASS}__spinner-arrow {
  position: relative;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    // fill: rgb(135, 135, 135);
    width: 14px;
    height: 14px;
  }
}
