.babelrc
.eslintrc
.editorconfig
.eslintrc.json
.gitignore
.history
.idea
.npmignore
.projectile
/karma.conf.js
/lerna.json
/scripts
/src
/build
node_modules
test
__tests__
__mocks__
__jests__
/yarn.lock
/package-lock.json
.DS_store
/.vscode
/.idea
license-short.md
/jest.config.js
/setupTests.js
/index.html

/lib/ColorPalette
/lib/ColorPicker
/lib/ColorPickerInput
/lib/ColorTextInput
/lib/MenuBar
/lib/PaginationToolbar
/lib/SimpleToolbar

/ColorPalette
/ColorPicker
/ColorPickerInput
/ColorTextInput
/MenuBar
/PaginationToolbar
/SimpleToolbar
examples