@import './variables.scss';

// hide clear 'x' icon on IE
.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}::-ms-clear {
  display: none;
}

// remove outlines/focus styles
.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS} {
  outline: 0;
  box-shadow: none;
}

.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}__wrapper {
  display: flex;
  align-items: center;
  width: 200px;
}

.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}--input {
  border: none;
  outline: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
}

.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}__clear-button-wrapper {
  display: flex;
  flex-flow: column;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
  transform: translate3d(0, 0, 0);
  // needed because otherwise chrome flickers the position of the wrapper
}

.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}__clear-button-wrapper--hidden {
  visibility: hidden;
  opacity: 0;
}

.#{$ZIPPY_MASKED_INPUT_ROOT_CLASS}__clear-button {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  top: 0;
  right: 1px;
  bottom: 0;
  margin-right: 6px;

  &:active {
    margin-top: 1px;
  }
}
