@import '../../variables.scss';
@import './variables.scss';

.#{$ZIPPY_ACCORDION_ROOT_CLASS}--theme-#{$ZIPPY_ACCORDION_THEME_NAME} {
  .#{$ZIPPY_ACCORDION_ROOT_CLASS}__tab-content {
    transform: translate3d(0, 0, 0);
  }

  .#{$ZIPPY_ACCORDION_ROOT_CLASS}__tab-content__content-wrapper {
    padding: $ZIPPY_ACCORDION_TAB_CONTENT_PADDING;
  }

  .#{$ZIPPY_ACCORDION_ROOT_CLASS}__tab-content {
    background: white;
  }
}
