$ZIPPY_ACCORDION_THEME_NAME: 'default' !default;
// TAB TITLES

$ZIPPY_ACCORDION_TAB_TITLE_BACKGROUND_COLOR: #d2dff0 !default;
$ZIPPY_ACCORDION_TAB_TITLE_OVER_BACKGROUND_COLOR: #e8f2ff !default;
$ZIPPY_ACCORDION_TAB_TITLE_OPEN_BACKGROUND_COLOR: #e8f2ff !default;

$ZIPPY_ACCORDION_TAB_TITLE_TEXT_COLOR: #495e85 !default;
$ZIPPY_ACCORDION_TAB_TITLE_DISABLED_TEXT_COLOR: #c8cacc !default;
$ZIPPY_ACCORDION_TAB_TITLE_FOCUSED_BORDER: #a1b6d3 !default;

$ZIPPY_ACCORDION_TAB_PANEL_PADDING: 5px;

$ZIPPY_ACCORDION_BORDER_COLOR: #a1b6d3 !default;

$ZIPPY_ACCORDION_TAB_TITLE_LINE_HEIGHT: 18px !default;
$ZIPPY_ACCORDION_TAB_TITLE_MIN_HEIGHT: 41px !default;
$ZIPPY_ACCORDION_TAB_TITLE_PADDING: 5px 10px !default;

$ZIPPY_ACCORDION_TAB_TITLE_BORDER_WIDTH: 1px !default;
$ZIPPY_ACCORDION_TAB_TITLE_BORDER_COLOR: $ZIPPY_ACCORDION_BORDER_COLOR !default;
$ZIPPY_ACCORDION_TAB_TITLE_BORDER_STYLE: solid !default;
$ZIPPY_ACCORDION_TAB_TITLE_BORDER: $ZIPPY_ACCORDION_TAB_TITLE_BORDER_WIDTH
  $ZIPPY_ACCORDION_TAB_TITLE_BORDER_STYLE
  $ZIPPY_ACCORDION_TAB_TITLE_BORDER_COLOR;

$ZIPPY_ACCORDION_TAB_CONTENT_PADDING: 20px !default;

// ACCORDION GENERIC
$ZIPPY_ACCORDION_BORDER_WIDTH: 1px !default;
$ZIPPY_ACCORDION_BORDER: $ZIPPY_ACCORDION_BORDER_WIDTH
  $ZIPPY_ACCORDION_TAB_TITLE_BORDER_STYLE $ZIPPY_ACCORDION_BORDER_COLOR !default;
