@import './variables.scss';

.#{$ZIPPY_WINDOW_ROOT_CLASS}__modal-wrapper--top.#{$ZIPPY_WINDOW_ROOT_CLASS}__modal-wrapper--theme-#{$ZIPPY_WINDOW_THEME_NAME} {
  background: $ZIPPY_WINDOW_MODAL_WRAPPER_BACKGROUND;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}.#{$ZIPPY_WINDOW_ROOT_CLASS}--theme-#{$ZIPPY_WINDOW_THEME_NAME} {
  font-size: $ZIPPY_WINDOW_FONT_SIZE;

  &.#{$ZIPPY_WINDOW_ROOT_CLASS} {
    border: $ZIPPY_WINDOW_BORDER;
    background: $ZIPPY_WINDOW_BACKGROUND;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__body {
    border-bottom: none;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__body-footer {
    border-bottom: $ZIPPY_WINDOW_BORDER;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--shadow {
    box-shadow: $ZIPPY_WINDOW_SHADOW;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--dragging {
    opacity: 0.5;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--focus.#{$ZIPPY_WINDOW_ROOT_CLASS}--shadow {
    box-shadow: $ZIPPY_WINDOW_FOCUSED_SHADOW;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar {
    color: $ZIPPY_WINDOW_TITLE_COLOR;
    fill: $ZIPPY_WINDOW_TITLE_COLOR;
    background: $ZIPPY_WINDOW_TITLE_BAR_BACKGROUND;
    min-height: $ZIPPY_WINDOW_TITLE_BAR_MIN_HEIGHT;
    // padding-top: $ZIPPY_WINDOW_BORDER_SIZE;
    border-bottom: $ZIPPY_WINDOW_BORDER_BOTTOM;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__title {
    font-weight: $ZIPPY_WINDOW_TITLE_FONT_WEIGHT;
    padding-left: $ZIPPY_WINDOW_TITLE_PADDING_START;

    svg {
      vertical-align: middle;
      margin-right: $ZIPPY_WINDOW_TITLE_MARGIN;
    }
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--rtl {
    .#{$ZIPPY_WINDOW_ROOT_CLASS}__title {
      padding-right: $ZIPPY_WINDOW_TITLE_PADDING_START;
      padding-left: 0;

      svg {
        vertical-align: middle;
        margin-left: $ZIPPY_WINDOW_TITLE_MARGIN;
        margin-right: 0;
      }
    }

    .#{$ZIPPY_WINDOW_ROOT_CLASS}__tools {
      padding: $ZIPPY_WINDOW_TOOLS_RTL_PADDING;
    }
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__tools {
    padding: $ZIPPY_WINDOW_TOOLS_PADDING;
    display: flex;
    align-items: center;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__icon {
    vertical-align: middle;
    margin: 4px 0;
  }

  //the tool buttons class is specified three times to override the class from the Button.
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__tool.#{$ZIPPY_WINDOW_ROOT_CLASS}__tool.#{$ZIPPY_WINDOW_ROOT_CLASS}__tool {
    position: relative;
    background: none;
    border: none;
    // padding: $ZIPPY_WINDOW_TOOLS_ICONS_PADING;
    margin: $ZIPPY_WINDOW_TOOLS_ICONS_MARGIN;
    cursor: pointer;
    transition: all 0.2s;
    fill: $ZIPPY_WINDOW_BUTTON_FILL;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      background: $ZIPPY_WINDOW_TOOLS_ICONS_HOVER_BACKGROUND;
    }

    transform: translateY(0);

    &:active {
      transform: translateY(1px);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .#{ZIPPY_WINDOW_ROOT_CLASS}__expand-icon {
    position: relative;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__collapse-icon {
    position: relative;
    transform: rotate(180deg);
  }

  .#{ZIPPY_WINDOW_ROOT_CLASS}__pin-down-icon {
    position: relative;
  }

  .#{$ZIPPY_WINDOW_ROOT_CLASS}__pin-up-icon {
    position: relative;
    transform: rotate(90deg);
  }

  @media only screen and (max-device-width: 1024px) {
    // on tablet active state makes buton tap flicker
    .#{$ZIPPY_WINDOW_ROOT_CLASS}__tool {
      &:active,
      &:hover {
        background: $ZIPPY_WINDOW_TOOLS_ICONS_HOVER_BACKGROUND;
      }
    }
  }
}
