@import "../../variables.scss";

$ZIPPY_WINDOW_THEME_NAME: "default" !default;

$ZIPPY_WINDOW_MAIN_COLOR: #d2dff0 !default;
$ZIPPY_WINDOW_SECONDARY_COLOR: #495e85 !default;
$ZIPPY_WINDOW_BORDER_COLOR: #a1b6d3;
$ZIPPY_WINDOW_HOVER_COLOR: #e8f2ff;

// global
$ZIPPY_WINDOW_FONT_SIZE: 14px !default;

// states
$ZIPPY_WINDOW_SHADOW: 0 1px 4px 0 rgba($ZIPPY_WINDOW_BORDER_COLOR, 1);
$ZIPPY_WINDOW_FOCUSED_SHADOW: 0 1px 4px 1px rgba($ZIPPY_WINDOW_BORDER_COLOR, 1);
$ZIPPY_WINDOW_MODAL_WRAPPER_BACKGROUND: rgba(73, 94, 133, 0.5);

// titlebar
$ZIPPY_WINDOW_BORDER_SIZE: 1px !default;
$ZIPPY_WINDOW_BACKGROUND: #fff !default;
$ZIPPY_WINDOW_BORDER: $ZIPPY_WINDOW_BORDER_SIZE solid $ZIPPY_WINDOW_BORDER_COLOR !default;
$ZIPPY_WINDOW_BORDER_BOTTOM: $ZIPPY_WINDOW_BORDER_SIZE solid
  $ZIPPY_WINDOW_BORDER_COLOR;
$ZIPPY_WINDOW_TITLE_COLOR: $ZIPPY_WINDOW_SECONDARY_COLOR !default;
$ZIPPY_WINDOW_TITLE_FONT_WEIGHT: 600 !default;
$ZIPPY_WINDOW_TITLE_PADDING_START: 8px !default;
$ZIPPY_WINDOW_TITLE_MARGIN: 6px !default;

// title
$ZIPPY_WINDOW_TITLE_BAR_BACKGROUND: $ZIPPY_WINDOW_MAIN_COLOR !default;
$ZIPPY_WINDOW_TITLE_BAR_PADDING_BOTTOM: $ZIPPY_WINDOW_BORDER_SIZE !default;
$ZIPPY_WINDOW_TITLE_BAR_MIN_HEIGHT: #{39 - $ZIPPY_WINDOW_BORDER_SIZE} !default;

$ZIPPY_WINDOW_TOOLS_PADDING: 0 2px 0 10px !default;
$ZIPPY_WINDOW_TOOLS_RTL_PADDING: 0 10px 0 2px;
// $ZIPPY_WINDOW_TOOLS_ICONS_PADING: 2px !default;
$ZIPPY_WINDOW_TOOLS_ICONS_MARGIN: 0 1px !default;
$ZIPPY_WINDOW_BUTTON_FILL: #495e85 !default;

$ZIPPY_WINDOW_OVER_COLOR: hsl(
  hue($ZIPPY_WINDOW_HOVER_COLOR),
  saturation($ZIPPY_WINDOW_HOVER_COLOR),
  (lightness($ZIPPY_WINDOW_HOVER_COLOR) + 5)
) !default;

$ZIPPY_WINDOW_TOOLS_ICONS_HOVER_BACKGROUND: $ZIPPY_WINDOW_HOVER_COLOR !default;
