@import './variables.scss';

.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--theme-#{$ZIPPY_COMBO_BOX_THEME_NAME} {
  font-size: $ZIPPY_COMBO_BOX_FONT_SIZE;
  border: 1px solid $ZIPPY_COMBO_BOX_BORDER_COLOR;
  background: white;

  fill: $ZIPPY_COMBO_BOX_ICON_FILL_COLOR;
  padding-top: 1px;
  min-width: 100px;
  box-shadow: none;
  transition: all 0.2s;

  &:hover {
    border: $ZIPPY_COMBO_BOX_HOVERED_BORDER;
  }

  &,
  input {
    color: $ZIPPY_COMBO_BOX_COLOR;
  }

  input {
    padding: 0px;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__input__placeholder {
    white-space: nowrap;
  }

  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--focus {
    border: 1px solid $ZIPPY_COMBO_BOX_FOCUSED_BORDER_COLOR;
    box-shadow: $ZIPPY_COMBO_BOX_BOX_SHADOW;
  }

  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--ltr {
    padding-right: 3px;

    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__input__wrapper,
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__display-value {
      padding-left: 8px;
    }
  }
  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--rtl {
    padding-left: 3px;

    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__input__wrapper,
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__display-value {
      padding-right: 8px;
    }
  }

  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--disabled {
    fill: rgba($ZIPPY_COMBO_BOX_ICON_FILL_COLOR, 0.7);
  }

  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--shadow
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list {
    box-shadow: $ZIPPY_COMBO_BOX_BOX_SHADOW;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__loading-text {
    background: rgba(255, 255, 255, 0.4);
    color: #858585;
  }
  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__loading-spinner {
    width: 17px;
    svg {
      animation: reactToolkitComboBoxLoadAnimationDefault 1.4s infinite linear;
      transform: translateZ(0);
    }

    display: flex;
    align-items: center;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list {
    background: #fff;
    border: 1px solid $ZIPPY_COMBO_BOX_LIST_BORDER_COLOR;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__clear-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 6px;
    transform: translateY(0px);
    &:active {
      transform: translateY(1px);
    }
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item {
    padding: 5px 8px;
    border: 1px solid transparent;

    &:not(.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item--disabled):hover {
      background: $ZIPPY_COMBO_BOX_HOVER_ITEM_BACKGROUND;
    }
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item--selected {
    background: $ZIPPY_COMBO_BOX_SELECTED_ITEM_BACKGROUND;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item--active {
    border: $ZIPPY_COMBO_BOX_ACTIVE_ITEM_BORDER;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item--disabled {
    color: $ZIPPY_COMBO_BOX_DISABLED_ITEM_COLOR;
    cursor: default;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__item__highlight {
    background: magenta;
    font-weight: bold;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__list__group {
    padding: 5px 3px;
    font-weight: bold;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value {
    min-height: $ZIPPY_COMBO_BOX_HEIGHT;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__tools {
    min-height: $ZIPPY_COMBO_BOX_HEIGHT;
  }

  // tag
  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag {
    background: $ZIPPY_COMBO_BOX_TAG_BACKGROUND;
    border: 1px solid transparent;
    padding: 3px 8px;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag--active {
    border: $ZIPPY_COMBO_BOX_ACTIVE_TAG_BORDER;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag--active.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag--selected {
    background: #cbe1fb;
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag__label {
  }

  .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag__clear-icon {
    transform: translateY(0px);
    &:active {
      transform: translateY(1px);
    }
  }

  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--ltr {
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag__clear-icon {
      margin-left: 12px;
    }
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag {
      margin-right: 1px;
      margin-bottom: 1px;
    }
  }
  &.#{$ZIPPY_COMBO_BOX_ROOT_CLASS}--rtl {
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag__clear-icon {
      margin-right: 12px;
    }
    .#{$ZIPPY_COMBO_BOX_ROOT_CLASS}__value__tag {
      margin-left: 1px;
      margin-bottom: 1px;
    }
  }
}

@-webkit-keyframes reactToolkitComboBoxLoadAnimationDefault {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes reactToolkitComboBoxLoadAnimationDefault {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
