@import "./variables.scss";
@import "./slide-tooltip.scss";

.#{$ZIPPY_SLIDER_ROOT_CLASS} {
  user-select: none;

  &--rtl {
    direction: rtl;
  }

  &__control-button {
    position: absolute;
  }

  &--horizontal-orientation {
    height: 41px;

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-horizontal-end {
      padding: 2px 9px 10px 2px;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
          top: -10%;
          left: 96%;
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
          top: -10%;
          left: -5%;
        }
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-horizontal-start {
      padding: 10px 9px 2px 2px;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
          top: 33%;
          left: 96%;
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
          top: 33%;
          left: -5%;
        }
      }
    }
  }

  &--vertical-orientation {
    width: 55px;

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-vertical-end {
      padding: 9px 20px 9px 5px;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
          top: -3%;
          left: -24%;
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
          top: 96%;
          left: -24%;
        }
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-vertical-start {
      padding: 9px 13px 9px 10px;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
          top: -3%;
          left: 71%;
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
          top: 96%;
          left: 71%;
        }
      }
    }
  }

  &--tick-bar-horizontal-none {
    height: 30px;

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
      margin: 0 8px;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
        top: 11%;
        left: 95%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
        top: 11%;
        left: -3%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__track {
        margin: auto;
      }
    }
  }

  &--tick-bar-vertical-none {
    width: 30px;

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
      margin: 8px 0;
      height: calc(100% - 16px);

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
        top: 95%;
        left: 7%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
        top: -3%;
        left: 7%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__track {
        margin: auto;
      }
    }
  }

  &--tick-bar-horizontal-both {
    height: 62px;
    padding: 16px 13px;

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
        top: 14%;
        left: 96%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
        top: 14%;
        left: -5%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
        &--tick-bars-position-start {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
            top: -4%;
            height: 43%;

            &--small {
              height: 29%;
              top: 8%;
            }
          }
        }

        &--tick-bars-position-end {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
            bottom: -6%;
            height: 43%;

            &--small {
              height: 29%;
              bottom: 7%;
            }
          }
        }
      }
    }
  }

  &--tick-bar-vertical-both {
    width: 88px;
    padding: 9px 29px;

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__increment-button {
        top: 96%;
        left: 7%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__decrement-button {
        top: -3%;
        left: 7%;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
        &--label-position-end {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            left: 100%;
          }
        }

        &--label-position-start {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            right: 100%;
          }
        }

        &--tick-bars-position-start {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
            left: -6%;
            width: 43%;

            &--small {
              width: 29%;
              left: 9%;
            }
          }

          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            right: 130%;
          }
        }

        &--tick-bars-position-end {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
            left: 64%;
            width: 43%;

            &--small {
              width: 29%;
              left: 63%;
            }
          }

          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            left: 130%;
          }
        }
      }
    }
  }

  &__track {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  &--horizontal-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track {
      height: 8px;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-end {
      margin: 3px 0;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-start {
      margin: 16px 0;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-both {
      margin: auto;
    }
  }

  &--vertical-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track {
      width: 8px;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-end {
      margin: 0;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-start {
      margin: 0 30px;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__track-both {
      margin: auto;
    }
  }

  &__track-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    // box-sizing: content-box;
  }

  &__track-line {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__handle {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  &--horizontal-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__handle {
      transform: translate3d(0, -50%, 0);
      top: 50%;
    }
  }

  &--vertical-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__handle {
      transform: translate3d(-50%, 0, 0);
      left: 50%;
    }
  }

  &__tick {
    position: absolute;
    border-style: solid;
    border-width: 0;

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
      position: absolute;
    }
  }

  &--horizontal-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
      height: 100%;
      width: 1px;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick--start-value {
      left: 0;
    }
  }

  &--vertical-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
      width: 100%;
      height: 1px;
    }

    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick--start-value {
      top: 0;
    }
  }

  &__wrap {
    position: relative;
    height: 100%;
    min-height: 27px;
  }

  &__tick-wrap {
    // position: absolute;
    user-select: none;
  }

  &--horizontal-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
      &--tick-bars-position-start {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
          top: 17%;
          height: 43%;

          &--small {
            height: 29%;
            top: 30%;
          }
        }
      }

      &--tick-bars-position-end {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
          bottom: 17%;
          height: 43%;

          &--small {
            height: 29%;
            bottom: 30%;
          }
        }
      }
    }
  }

  &--vertical-orientation {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
      &--label-position-end {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
          left: 100%;
        }
      }

      &--label-position-start {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
          right: 100%;
        }
      }

      &--tick-bars-position-start {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
          left: 59%;
          width: 43%;

          &--small {
            width: 29%;
            left: 71%;
          }
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
          right: 130%;
        }
      }

      &--tick-bars-position-end {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
          left: 27%;
          width: 43%;

          &--small {
            width: 29%;
            left: 25%;
          }
        }

        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
          left: 130%;
        }
      }
    }
  }

  &--with-buttons {
    .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
      display: flex;
      align-items: center;

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
        flex: 1;
        position: relative;
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-horizontal-none {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
          margin: 0 20px;
        }
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--tick-bar-vertical-none {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
          margin: 19px 0 20px 0;
        }
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--horizontal-orientation {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
        height: 100%;
        margin: 0 15px;
      }
    }

    &.#{$ZIPPY_SLIDER_ROOT_CLASS}--vertical-orientation {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        display: flex;
        flex-flow: column;
        align-items: center;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
        width: 100%;
        margin: 19px 0 17px 0;
      }
    }
  }
}
