/**
 * Copyright 2015-present, Zippy Technologies.
 * All rights reserved.
 */

@import './variables.scss';
@import '../../../../ColorTextInput/style/theme/default/index.scss';
@import '../../../../ColorPalette/style/theme/default/index.scss';
@import '../../../../Button/style/theme/default/index';

// $border: 1px solid #bbb;

.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}--theme-#{$ZIPPY_COLOR_PICKER_INPUT_THEME_NAME} {
  border: $ZIPPY_COLOR_PICKER_INPUT_BORDER;
  transition: border 0.2s;

  &:hover {
    border: $ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER;
  }

  .#{$ZIPPY_BUTTON_ROOT_CLASS} {
    background: none;
    border: none;
  }

  .#{$ZIPPY_BUTTON_ROOT_CLASS} {
  }

  &.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}--rtl {
    .#{$ZIPPY_BUTTON_ROOT_CLASS} {
      border-left: none;
    }
  }
}

.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}--focused {
  border: $ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER !important;
  box-shadow: $ZIPPY_COLOR_PICKER_INPUT_BLUE_BOX_SHADOW;
}

.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}__overlay {
  background: $ZIPPY_COLOR_PICKER_INPUT_OVERLAY_BACKGROUND;
  padding: $ZIPPY_COLOR_PICKER_INPUT_OVERLAY_PADDING;
  max-height: $ZIPPY_COLOR_PICKER_INPUT_OVERLAY_MAX_HEIGHT;
  border: $ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER;
  box-shadow: $ZIPPY_COLOR_PICKER_INPUT_BLUE_BOX_SHADOW;
}

.#{$ZIPPY_COLOR_CUSTOM_COLOR_PALETTE}__button {
  margin: $ZIPPY_COLOR_PICKER_INPUT_BUTTON_MARGIN;
}

.#{$ZIPPY_COLOR_CUSTOM_COLOR_PALETTE}__item {
  background: $ZIPPY_COLOR_PICKER_INPUT_ITEM_BACKGROUND;
}
