@import '../../variables.scss';

$ZIPPY_COLOR_PICKER_INPUT_THEME_NAME: default !default;
$ZIPPY_COLOR_PICKER_INPUT_BORDER_COLOR: #bbb !default;
$ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER_COLOR: #a1b6d3 !default;
$ZIPPY_COLOR_PICKER_INPUT_ITEM_BACKGROUND: #f4f4f4 !default;
$ZIPPY_COLOR_PICKER_INPUT_OVERLAY_BACKGROUND: white !default;
$ZIPPY_COLOR_PICKER_INPUT_OVERLAY_PADDING: 8px !default;
$ZIPPY_COLOR_PICKER_INPUT_OVERLAY_MAX_HEIGHT: 320px !default;
$ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER: 1px solid
  $ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER_COLOR !default;
$ZIPPY_COLOR_PICKER_INPUT_BLUE_BOX_SHADOW: 0 0 2px 0
  $ZIPPY_COLOR_PICKER_INPUT_BLUE_BORDER_COLOR !default;
$ZIPPY_COLOR_PICKER_INPUT_BORDER: 1px solid
  $ZIPPY_COLOR_PICKER_INPUT_BORDER_COLOR !default;
$ZIPPY_COLOR_PICKER_INPUT_BUTTON_MARGIN: 8px 0 !default;
