@import '../../variables.scss';
@import './variables.scss';

.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}--theme-#{$ZIPPY_SPLIT_CONTAINER_THEME_NAME} {
  &.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}--bordered {
    border: 1px solid $ZIPPY_SPLIT_CONTAINER_BORDER_COLOR;

    .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter:not(.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter--zero-size) {
      &.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter--orientation-horizontal {
        border-top: 1px solid $ZIPPY_SPLIT_CONTAINER_BORDER_COLOR;
        border-bottom: 1px solid $ZIPPY_SPLIT_CONTAINER_BORDER_COLOR;
      }

      &.#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter--orientation-vertical {
        border-left: 1px solid $ZIPPY_SPLIT_CONTAINER_BORDER_COLOR;
        border-right: 1px solid $ZIPPY_SPLIT_CONTAINER_BORDER_COLOR;
      }
    }
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter__icon {
    fill: $ZIPPY_SPLIT_CONTAINER_ICON_COLOR;
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter {
    background: $ZIPPY_SPLIT_CONTAINER_BG_COLOR;
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__resize-proxy {
    background: $ZIPPY_SPLIT_CONTAINER_PROXY_BG_COLOR;
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__resize-proxy {
    opacity: $ZIPPY_SPLIT_CONTAINER_PROXY_OPACITY;
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter--constrained,
  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__resize-proxy--constrained {
    opacity: $ZIPPY_SPLIT_CONTAINER_PROXY_OPACITY;
    background: $ZIPPY_SPLIT_CONTAINER_WARN_COLOR;
  }

  .#{$ZIPPY_SPLIT_CONTAINER_ROOT_CLASS}__splitter--constrained {
    border: none;

    svg {
      visibility: hidden;
    }
  }
}
