@import '../../variables.scss';

.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}--theme-default {
  .#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}__input {
    border: 0;
    padding: 0;
    outline: 0;
  }
}
