@import '../../variables.scss';

$ZIPPY_TEXT_INPUT_THEME_NAME: default !default;
$ZIPPY_TEXT_INPUT_GRAY_BORDER_COLOR: #f4f4f4 !default;
$ZIPPY_TEXT_INPUT_GRAY_BORDER: 1px solid $ZIPPY_TEXT_INPUT_GRAY_BORDER_COLOR !default;
$ZIPPY_TEXT_INPUT_GRAY_BOX_SHADOW: 0 0 2px 0 $ZIPPY_TEXT_INPUT_GRAY_BORDER_COLOR !default;
$ZIPPY_TEXT_INPUT_PREVIEW_MARGIN_LEFT: 6px 0 6px 8px !default;
$ZIPPY_TEXT_INPUT_PREVIEW_MARGIN_RIGHT: 6px 8px 6px 0 !default;
