$ZIPPY_TOOLBAR_THEME_NAME: 'default' !default;
$ZIPPY_TOOLBAR_COLOR: #525252 !default;
$ZIPPY_TOOLBAR_FILL: #495e85 !default;
$ZIPPY_TOOLBAR_BORDER_COLOR: #a1b6d3 !default;
$ZIPPY_TOOLBAR_SEPARATOR_COLOR: $ZIPPY_TOOLBAR_BORDER_COLOR !default;
$ZIPPY_TOOLBAR_FOCUSED_INPUT_BORDER_COLOR: #8da0ba !default;
$ZIPPY_TOOLBAR_BG_COLOR: #d2dff0 !default;
$ZIPPY_TOOLBAR_HOVER_BG: #e8f2ff !default;
$ZIPPY_TOOLBAR_FONT_SIZE: 14px !default;
