@import './variables.scss';
@import './title-rotate.scss';

.#{$ZIPPY_PANEL_ROOT_CLASS} {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  text-align: start;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--rtl {
  direction: rtl;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
  display: flex;
  align-items: center;
  flex: none;

  &--ellipsis {
    .#{$ZIPPY_PANEL_ROOT_CLASS}__title,
    .#{$ZIPPY_PANEL_ROOT_CLASS}__title-wrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title-wrapper {
  flex: 1;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-top {
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-bottom {
  flex-direction: column-reverse;
}

@include apply-title-rotate($ZIPPY_PANEL_ROOT_CLASS);

.#{$ZIPPY_PANEL_ROOT_CLASS}__title {
  width: 100%;
  padding: 3px;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-center {
  text-align: center;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-left,
.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-start {
  text-align: start;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-right,
.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-end {
  text-align: end;
}

// body
.#{$ZIPPY_PANEL_ROOT_CLASS}__body {
  flex: 1;
  padding: 0 10px;

  &--scrollable {
    display: flex;
    flex-flow: column;
    overflow: auto;
  }
}
