@import './variables.scss';

.#{$ZIPPY_PANEL_ROOT_CLASS} {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;

  text-align: start;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--rtl {
  direction: rtl;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
  display: flex;
  align-items: center;
  flex: none;

  &--ellipsis {
    .#{$ZIPPY_PANEL_ROOT_CLASS}__title,
    .#{$ZIPPY_PANEL_ROOT_CLASS}__title-wrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.#{$ZIPPY_PANEL_ROOT_CLASS}__title-wrapper {
  flex: 1;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-top {
}
.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-bottom {
  flex-direction: column-reverse;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-rotate-90.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-right {
  // position: relative;

  .#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #a1b6d3;

    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
  }
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-rotate--90.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-right {
  // position: relative;

  .#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid #a1b6d3;

    transform-origin: top right;
    transform: rotate(-90deg) translateY(-100%);
  }
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-rotate--90.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-left {
  // position: relative;

  .#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #a1b6d3;

    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }
}

.#{$ZIPPY_PANEL_ROOT_CLASS}--title-rotate-90.#{$ZIPPY_PANEL_ROOT_CLASS}--title-bar-position-left {
  // position: relative;

  .#{$ZIPPY_PANEL_ROOT_CLASS}__title-bar {
    position: absolute;
    bottom: 100%;
    left: 0;
    border-top: 1px solid #a1b6d3;

    transform-origin: bottom left;
    transform: rotate(90deg);
  }
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title {
  width: 100%;
  padding: 3px;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-center {
  text-align: center;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-left,
.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-start {
  text-align: start;
}

.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-right,
.#{$ZIPPY_PANEL_ROOT_CLASS}__title--align-end {
  text-align: end;
}

// body
.#{$ZIPPY_PANEL_ROOT_CLASS}__body {
  flex: 1;
  padding: 0 10px;
  &--scrollable {
    display: flex;
    flex-flow: column;
    overflow: auto;
  }
}
