$ZIPPY_ARROW_SCROLLER_THEME_NAME: 'default' !default;

$ZIPPY_ARROW_SCROLLER_BORDER_COLOR: #a1b6d3 !default;
$ZIPPY_ARROW_SCROLLER_BG_COLOR: #d2dff0 !default;
$ZIPPY_ARROW_SCROLLER_HOVER_BG: #e8f2ff !default;
