@import '../../variables.scss';
@import './variables.scss';
@import '../../../../Button/style/theme/default/index.scss';
@import '../../../../Menu/style/theme/default/index.scss';

/* stylelint-disable */
@mixin apply-separator-styles($separatorColor, $separatorHoverColor) {
  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--ltr.zippy-react-toolkit-button--icon-last {
      .zippy-react-toolkit-button__icon-wrap {
        border-left: 1px solid $separatorColor;
      }
    }

    .zippy-react-toolkit-dropdown-button--expanded,
    &:hover,
    &:active {
      .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--ltr.zippy-react-toolkit-button--icon-last {
        .zippy-react-toolkit-button__icon-wrap {
          border-left: 1px solid $separatorHoverColor;
        }
      }
    }
  }

  // .zippy-react-toolkit-dropdown-button__button {
  //   &:active {
  //     position: relative;
  //     top: 1px;
  //   }
  // }

  .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--ltr.zippy-react-toolkit-button--icon-first {
    .zippy-react-toolkit-button__icon-wrap {
      border-right: 1px solid $separatorColor;

      &:hover:not(.zippy-react-toolkit-button__icon-wrap--disabled) {
        border-right: 1px solid $separatorHoverColor;
      }
    }
  }

  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-dropdown-button--expanded,
    &:hover,
    &:active {
      .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--ltr.zippy-react-toolkit-button--icon-first {
        .zippy-react-toolkit-button__icon-wrap {
          border-right: 1px solid $separatorHoverColor;
        }
      }
    }
  }

  .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--rtl.zippy-react-toolkit-button--icon-last {
    .zippy-react-toolkit-button__icon-wrap {
      border-right: 1px solid $separatorColor;

      &:hover:not(.zippy-react-toolkit-button__icon-wrap--disabled) {
        border-right: 1px solid $separatorHoverColor;
      }
    }
  }

  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-dropdown-button--expanded,
    &:hover,
    &:active {
      .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--rtl.zippy-react-toolkit-button--icon-last {
        .zippy-react-toolkit-button__icon-wrap {
          border-right: 1px solid $separatorHoverColor;
        }
      }
    }
  }

  .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--rtl.zippy-react-toolkit-button--icon-first {
    .zippy-react-toolkit-button__icon-wrap {
      border-left: 1px solid $separatorColor;

      &:hover:not(.zippy-react-toolkit-button__icon-wrap--disabled) {
        border-left: 1px solid $separatorHoverColor;
      }
    }
  }

  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-dropdown-button--expanded,
    &:hover,
    &:active {
      .zippy-react-toolkit-dropdown-button__button.zippy-react-toolkit-button--rtl.zippy-react-toolkit-button--icon-first {
        .zippy-react-toolkit-button__icon-wrap {
          border-left: 1px solid $separatorHoverColor;
        }
      }
    }
  }
}
/* stylelint-enable */

.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--theme-#{$ZIPPY_SPLIT_BUTTON_THEME_NAME} {
  color: $ZIPPY_SPLIT_BUTTON_COLOR;
  fill: $ZIPPY_SPLIT_BUTTON_FILL;
  font-size: $ZIPPY_SPLIT_BUTTON_FONT_SIZE;
  min-height: 32px;
  overflow: hidden;
  border: $ZIPPY_SPLIT_BUTTON_UNFOCUSED_BORDER;

  // transform: translateY(0px);

  // &:active {
  //   transform: translateY(1px);
  // }

  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-split-button__icon-wrap:hover {
      background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
    }
  }

  &.zippy-react-toolkit-split-button--focused {
    border: $ZIPPY_SPLIT_BUTTON_FOCUSED_BORDER;
  }

  .#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}__button {
    padding: 4px 8px;
    color: $ZIPPY_SPLIT_BUTTON_COLOR;
    font-size: $ZIPPY_SPLIT_BUTTON_FONT_SIZE;
    background: $ZIPPY_SPLIT_BUTTON_BG_COLOR;

    &:not(.zippy-react-toolkit-button--disabled) {
      &:hover {
        background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
      }

      &:active {
        background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
      }
    }
  }

  &:not(.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--disabled) {
    .zippy-react-toolkit-dropdown-button__button {
      &:hover {
        background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
      }
    }
  }

  .zippy-react-toolkit-dropdown-button__button {
    overflow: hidden;
    background: $ZIPPY_SPLIT_BUTTON_BG_COLOR;
    fill: $ZIPPY_SPLIT_BUTTON_FILL;
  }

  &.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--expanded
  .zippy-react-toolkit-dropdown-button__button {
    background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
  }

  .#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}__button.zippy-react-toolkit-button--ltr {
    &.zippy-react-toolkit-button--icon-first {
      .zippy-react-toolkit-button__icon-wrap {
        margin-right: 6px;
      }
    }

    &.zippy-react-toolkit-button--icon-last {
      .zippy-react-toolkit-button__icon-wrap {
        margin-left: 6px;
      }
    }
  }

  .zippy-react-toolkit-dropdown-button__button:not(.zippy-react-toolkit-button--disabled) {
    .zippy-react-toolkit-button__icon-wrap {
      &:hover:not(.zippy-react-toolkit-button__icon-wrap--disabled) {
        background: $ZIPPY_SPLIT_BUTTON_HOVER_BG_COLOR;
      }
    }
  }

  /* stylelint-disable */
  @include apply-separator-styles(
    $ZIPPY_SPLIT_BUTTON_SEPARATOR_COLOR,
    $ZIPPY_SPLIT_BUTTON_HOVER_SEPARATOR_COLOR
  );
  /* stylelint-enable */

  .#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}__button.zippy-react-toolkit-button--rtl {
    &.zippy-react-toolkit-button--icon-first {
      .zippy-react-toolkit-button__icon-wrap {
        margin-left: 6px;
      }
    }

    &.zippy-react-toolkit-button--icon-last {
      .zippy-react-toolkit-button__icon-wrap {
        margin-right: 6px;
      }
    }
  }

  .zippy-react-toolkit-dropdown-button__arrow {
    padding-left: 2px;
    padding-right: 2px;
  }

  .zippy-react-dropdown-button__button.zippy-react-toolkit-button--ltr {
    &.zippy-react-toolkit-button--icon-first {
      .zippy-react-toolkit-button__text {
        padding-left: 0;
      }

      .zippy-react-toolkit-dropdown-button__arrow {
        margin-right: 6px;
        padding-left: 8px;
      }
    }

    &.zippy-react-toolkit-button--icon-last {
      .zippy-react-toolkit-button__text {
        padding-right: 0;
      }

      .zippy-react-toolkit-dropdown-button__arrow {
        margin-left: 6px;
        padding-right: 8px;
      }
    }
  }

  .zippy-react-dropdown-button__button.zippy-react-toolkit-button--rtl {
    &.zippy-react-toolkit-button--icon-first {
      .zippy-react-toolkit-button__text {
        padding-right: 0;
      }

      .zippy-react-toolkit-dropdown-button__arrow {
        margin-left: 6px;
        padding-right: 8px;
      }
    }

    &.zippy-react-toolkit-button--icon-last {
      .zippy-react-toolkit-button__text {
        padding-left: 0;
      }

      .zippy-react-toolkit-dropdown-button__arrow {
        margin-right: 6px;
        padding-left: 8px;
      }
    }
  }
}
