$THEME_NAME: 'default' !default;

@import '../../variables';

.#{$ZIPPY_COLOR_PICKER_ROOT_CLASS}.#{$ZIPPY_COLOR_PICKER_ROOT_CLASS}--theme-#{$THEME_NAME} {
  color: inherit;

  .#{$ZIPPY_COLOR_PICKER_ROOT_CLASS}__hue-spectrum {
    margin-left: 10px;
  }
}
