@import '../../variables.scss';

$ZIPPY_COLOR_PICKER_THEME_NAME: 'default' !default;
$ZIPPY_COLOR_PICKER_COLOR: #525252 !default;
$ZIPPY_COLOR_PICKER_HUE_SPECTRUM_MARGIN: 10px !default;
$ZIPPY_COLOR_PICKER_RGBA_INPUT_PADDING: 0 8px 0 8px !default;
$ZIPPY_COLOR_PICKER_RGBA_INPUT_HEXA_WIDTH: 90px !default;
$ZIPPY_COLOR_PICKER_INPUT_FULL_WIDTH: 100% !default;
$ZIPPY_COLOR_PICKER_RGBA_INPUT_WIDTH: 60px !default;
$ZIPPY_COLOR_PICKER_RGBA_INPUT_WRAPPER_MARGIN: 8px !default;
