@import './variables.scss';
@import '../../../../Window/style/theme/default/index.scss';

.#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}.#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}--theme-#{$ZIPPY_MESSAGE_WINDOW_THEME_NAME} {
  font-size: $ZIPPY_MESSAGE_WINDOW_FONT_SIZE;
  color: $ZIPPY_MESSAGE_WINDOW_BODY_COLOR;
  border: none !important;

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__body {
    overflow: auto;
    border-bottom: none;
    padding: 16px 16px 0 16px !important;
  }

  // the close button class is specified three times to override the class from the Button.
  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__tool.#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__tool.#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__tool {
    background: $ZIPPY_MESSAGE_WINDOW_MAIN_COLOR;

    &:hover {
      background: $ZIPPY_MESSAGE_WINDOW_MAIN_COLOR;
    }
  }

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__title-wrapper {
    font-size: $ZIPPY_MESSAGE_WINDOW_FONT_SIZE;
    color: $ZIPPY_MESSAGE_WINDOW_HEADER_COLOR;
  }

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__title {
    padding-left: $ZIPPY_MESSAGE_WINDOW_ICON_PADDING;
  }

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__icon {
    margin-right: $ZIPPY_MESSAGE_WINDOW_ICON_MARGIN;
    fill: $ZIPPY_MESSAGE_WINDOW_ICON_COLOR;
  }

  // .#{ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__button--cancel {
  //   background: $ZIPPY_MESSAGE_WINDOW_CANCEL_BUTTON_BG_COLOR;
  //   color: $ZIPPY_MESSAGE_WINDOW_MAIN_COLOR;
  //   transition: all 0.2s;

  //   &:hover {
  //     background: $ZIPPY_MESSAGE_WINDOW_HOVER_CANCEL_BUTTON_BACKGROUND;
  //     color: $ZIPPY_MESSAGE_WINDOW_MAIN_COLOR !important;
  //   }
  //   &:active {
  //     background: $ZIPPY_MESSAGE_WINDOW_HOVER_CANCEL_BUTTON_BACKGROUND;
  //     color: $ZIPPY_MESSAGE_WINDOW_HOVER_CANCEL_BUTTON_COLOR;
  //   }
  // }

  // .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__button:not(.zippy-react-toolkit-button) {
  //   background: $ZIPPY_MESSAGE_WINDOW_BUTTON_BACKGROUND;
  //   font-size: $ZIPPY_MESSAGE_WINDOW_FONT_SIZE;
  //   color: $ZIPPY_MESSAGE_WINDOW_BUTTON_COLOR;
  //   border: $ZIPPY_MESSAGE_WINDOW_BUTTON_BORDER;
  //   min-height: $ZIPPY_MESSAGE_WINDOW_BUTTON_MIN-HEIGHT;
  //   padding: $ZIPPY_MESSAGE_WINDOW_BUTTON_PADDING;
  //   margin: $ZIPPY_MESSAGE_WINDOW_BUTTON_MARGIN;
  //   transition: all 0.2s;

  //   &:hover {
  //     background: $ZIPPY_MESSAGE_WINDOW_HOVER_BACKGROUND;
  //   }
  //   &:active {
  //     background: $ZIPPY_MESSAGE_WINDOW_HOVER_BACKGROUND;
  //   }
  // }

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__title-bar {
    min-height: 38px;
  }

  .#{$ZIPPY_MESSAGE_WINDOW_ROOT_CLASS}__footer {
    padding: $ZIPPY_MESSAGE_WINDOW_FOOTER_PADDING;
  }
}
