@import "../../variables.scss";
@import "./variables.scss";
@import "../../../../Menu/style/theme/default/index.scss";
@import "../../../../Button/style/theme/default/index.scss";

.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}--theme-#{$ZIPPY_DROPDOWN_BUTTON_THEME_NAME} {
  color: $ZIPPY_DROPDOWN_BUTTON_COLOR;
  fill: $ZIPPY_DROPDOWN_BUTTON_FILL;
  font-size: $ZIPPY_DROPDOWN_BUTTON_FONT_SIZE;

  .zippy-react-toolkit-button__text {
    padding: 4px 8px;
  }

  // transform: translateY(0px);
  // &:active {
  //   transform: translateY(1px);
  // }

  &:not(.zippy-react-toolkit-split-button__dropdown-button) {
    background: $ZIPPY_DROPDOWN_BUTTON_BG_COLOR padding-box;
    min-height: 32px;
    padding: 2px 0;

    &:not(.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}--disabled).#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}--expanded,
    &:not(.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}--disabled):active,
    &:not(.#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}--disabled):hover {
      background: $ZIPPY_DROPDOWN_BUTTON_HOVER_BG_COLOR padding-box;
    }

    border: $ZIPPY_DROPDOWN_BUTTON_UNFOCUSED_BORDER;

    &.zippy-react-toolkit-dropdown-button--focused {
      border: $ZIPPY_DROPDOWN_BUTTON_FOCUSED_BORDER;
    }

    .#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}__button.zippy-react-toolkit-button--ltr {
      &.zippy-react-toolkit-button--icon-first {
        .zippy-react-toolkit-button__text {
          padding-left: 0;
        }

        .zippy-react-toolkit-dropdown-button__arrow {
          margin-right: 6px;
          padding-left: 8px;
        }
      }

      &.zippy-react-toolkit-button--icon-last {
        .zippy-react-toolkit-button__text {
          padding-right: 0;
        }

        .zippy-react-toolkit-dropdown-button__arrow {
          margin-left: 6px;
          padding-right: 2px;
        }
      }
    }

    .#{$ZIPPY_DROPDOWN_BUTTON_ROOT_CLASS}__button.zippy-react-toolkit-button--rtl {
      &.zippy-react-toolkit-button--icon-first {
        .zippy-react-toolkit-button__text {
          padding-right: 0;
        }

        .zippy-react-toolkit-dropdown-button__arrow {
          margin-left: 6px;
          padding-right: 2px;
        }
      }

      &.zippy-react-toolkit-button--icon-last {
        .zippy-react-toolkit-button__text {
          padding-left: 0;
        }

        .zippy-react-toolkit-dropdown-button__arrow {
          margin-right: 6px;
          padding-left: 8px;
        }
      }
    }
  }
}
