@import "../../variables";

.#{$ZIPPY_COLOR_PALETTE_ROOT_CLASS}.#{$ZIPPY_COLOR_PALETTE_ROOT_CLASS}--theme-default {
  .#{$ZIPPY_COLOR_PALETTE_ROOT_CLASS}__item {
    border: 1px solid transparent;
  }

  .#{$ZIPPY_COLOR_PALETTE_ROOT_CLASS}__item--active {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px rgba(2, 2, 2, 0.27);
  }

  .#{$ZIPPY_COLOR_PALETTE_ROOT_CLASS}__item:hover {
    box-shadow: 0 0 1px 1px rgba(2, 2, 2, 0.27);
  }
}
