@import '../../variables.scss';

$ZIPPY_COLOR_PALETTE_THEME_NAME: default !default;
$ZIPPY_COLOR_PALETTE_COLOR_TRANSPARENT: transparent !default;
$ZIPPY_COLOR_PALETTE_COLOR_WHITE: white !default;
$ZIPPY_COLOR_PALETTE_BORDER: 1px solid $ZIPPY_COLOR_PALETTE_COLOR_TRANSPARENT !default;
$ZIPPY_COLOR_PALETTE_GRAY_COLOR: #a4a4a4 !default;
$ZIPPY_COLOR_PALETTE_GRAY_BORDER: 1px solid $ZIPPY_COLOR_PALETTE_GRAY_COLOR !default;
$ZIPPY_COLOR_PALETTE_OUTLINE: 1px solid $ZIPPY_COLOR_PALETTE_GRAY_COLOR !default;
$ZIPPY_COLOR_PALETTE_ITEM: 1px solid $ZIPPY_COLOR_PALETTE_COLOR_WHITE !default;
$ZIPPY_COLOR_PALETTE_ITEM_WHITE_BORDER: 1px solid #dfdfdf !default;
$ZIPPY_COLOR_PALETTE_ITEM_MARGIN: 1px !default;
