@import '../../variables.scss';

$ZIPPY_TAB_PANEL_STRIP_COLOR: #495e85;

$PADDING: 10px !default;
$BORDER_RADIUS: 5px !default;
$THEME_NAME: 'default' !default;

$BG_FOCUSED: #f9f9f9 !default;
$BG_DISABLED: #eaeaea !default;

$ZIPPY_TAB_PANEL_BORDER_COLOR: #a1b6d3 !default;
$ZIPPY_TAB_PANEL_TAB_BG_COLOR: #d2dff0 !default;
$ZIPPY_TAB_PANEL_TAB_ACTIVE_BG_COLOR: #e8f2ff !default;
$ZIPPY_TAB_PANEL_BORDER_WIDTH: 1px !default;
$ZIPPY_TAB_PANEL_TAB_MARGIN: 2px !default;

$COLOR_DISABLED: grey;

$HOVER_BORDER_COLOR: #eee !default;

.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}--theme-#{$THEME_NAME} {
  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__body {
    padding: 5px 10px;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title__close-icon {
    position: relative;
    margin-left: 12px;
    margin-right: 3px;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title__close-icon-svg {
    vertical-align: middle;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__body--tab-position-top {
    border-right: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-left: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-bottom: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__body--tab-position-bottom {
    border-right: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-left: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-top: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__body--tab-position-left {
    border-top: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-bottom: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-right: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__body--tab-position-right {
    border-top: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-bottom: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
    border-left: $ZIPPY_TAB_PANEL_BORDER_WIDTH solid
      $ZIPPY_TAB_PANEL_BORDER_COLOR;
  }
}

.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--theme-#{$THEME_NAME} {
  color: $ZIPPY_TAB_PANEL_STRIP_COLOR;
  fill: $ZIPPY_TAB_PANEL_STRIP_COLOR;
  background: $ZIPPY_TAB_PANEL_TAB_BG_COLOR;
  border: 1px solid $ZIPPY_TAB_PANEL_BORDER_COLOR;
  padding: 2px;

  .#{$ZIPPY_ARROW_SCROLLER_ROOT_CLASS}__arrow {
    background: $ZIPPY_TAB_PANEL_TAB_BG_COLOR;
    border: 1px solid $ZIPPY_TAB_PANEL_BORDER_COLOR;
    color: $ZIPPY_TAB_PANEL_STRIP_COLOR;
    fill: $ZIPPY_TAB_PANEL_STRIP_COLOR;

    &--active {
      background: $ZIPPY_TAB_PANEL_TAB_ACTIVE_BG_COLOR;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-top {
    .#{$ZIPPY_ARROW_SCROLLER_ROOT_CLASS}__arrow {
      border-bottom: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-bottom {
    .#{$ZIPPY_ARROW_SCROLLER_ROOT_CLASS}__arrow {
      border-top: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-left {
    .#{$ZIPPY_ARROW_SCROLLER_ROOT_CLASS}__arrow {
      border-right: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-right {
    .#{$ZIPPY_ARROW_SCROLLER_ROOT_CLASS}__arrow {
      border-left: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-align-stretch {
    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip__before,
    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip__after {
      flex: none;
    }
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title {
    border: 1px solid $ZIPPY_TAB_PANEL_BORDER_COLOR;

    &--disabled {
      color: $ZIPPY_TAB_PANEL_STRIP_COLOR;
      opacity: 0.5;
    }

    &--active {
      background: $ZIPPY_TAB_PANEL_TAB_ACTIVE_BG_COLOR;
    }

    &--focused {
      &:before {
        content: '';
        position: absolute;
        border: 1px dotted $ZIPPY_TAB_PANEL_STRIP_COLOR;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
      }
    }
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title:not(.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title--disabled):hover {
    background: $ZIPPY_TAB_PANEL_TAB_ACTIVE_BG_COLOR;
  }

  .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title__inner {
    padding: 7px 4px 6px 4px;
    text-align: center;
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-top {
    padding-bottom: 0;

    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title {
      border-bottom: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-bottom {
    padding-top: 0;

    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title {
      border-top: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-top,
  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-bottom {
    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title:not(.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title--first) {
      margin-left: $ZIPPY_TAB_PANEL_TAB_MARGIN;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-left {
    padding-right: 0;

    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title {
      border-right: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-right {
    padding-left: 0;

    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title {
      border-left: 0;
    }
  }

  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-left,
  &.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-strip--tab-position-right {
    .#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title:not(.#{$ZIPPY_TAB_PANEL_ROOT_CLASS}__tab-title--first) {
      margin-top: $ZIPPY_TAB_PANEL_TAB_MARGIN;
    }
  }
}
