@import "./variables";

.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS} {
  display: inline-flex;
  direction: ltr;
  align-items: start;
}

.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}--rtl {
  direction: rtl;
}

.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}__color-preview {
}

.#{$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS}__input {
}
