@import './variables.scss';
@import '../../CheckBox/style/base.scss';
@import '../../Menu/style/index.scss';

$ZIPPY_TREE_VIEW_NODE_CONTENT_MARGIN_HORIZONTAL: 6px;

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS} {
  margin-right: 8px;
  box-sizing: border-box;
  text-align: start;
  direction: ltr;
  width: 100%;
  height: 100%;
  overflow: auto;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }

  &--selection-enabled {
    .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node {
      cursor: pointer;
    }
  }

  &--rtl {
    direction: rtl;
  }

  &--enable-hover-style {
  }

  &:not(&--expand-on-tool-only) {
    .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node--has-children
    > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
      cursor: pointer;
    }
  }

  &--check-onClick {
    .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
      cursor: pointer;
    }
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node {
  position: relative;

  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
    min-width: 200px;
    padding: 3px 0;
    border: 1px solid transparent;
  }

  // states
  &--collapsed {
  }

  &--selected > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
    background: #e6e6e6;
  }

  &--active > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
    background: #e8f2ff;
    border: 1px dotted #a1b6d3;
  }

  &--checked > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
    background: #e8f2ff;
  }

  &__content {
    position: relative;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--rtl {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__content {
    margin-right: $ZIPPY_TREE_VIEW_NODE_CONTENT_MARGIN_HORIZONTAL;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--ltr {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__content {
    margin-left: $ZIPPY_TREE_VIEW_NODE_CONTENT_MARGIN_HORIZONTAL;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node--disabled {
  & > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
    opacity: 0.5;
    color: $ZIPPY__TREE_VIEW_SECONDARY_COLOR;
    cursor: default;

    &:hover {
      background: white !important;
    }

    & > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__expander {
      cursor: default;
    }

    & > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__checkbox {
      fill: $ZIPPY__TREE_VIEW_MAIN_COLOR;
      opacity: 0.5;
      cursor: not-allowed;
    }

    & > svg {
      opacity: 0.5;
      fill: $ZIPPY__TREE_VIEW_MAIN_COLOR;
    }
  }
}

// label
.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label {
  display: flex;
  align-items: center;
  position: relative;

  & > .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__checkbox {
    fill: $ZIPPY__TREE_VIEW_MAIN_COLOR;
    margin-left: 1px;
  }

  > svg {
    fill: $ZIPPY__TREE_VIEW_MAIN_COLOR;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__label__text {
  margin-left: 4px;
  white-space: pre;
}

// expander
.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__expander {
  user-select: none;
  display: flex;
  margin-left: 2px;
  // > svg {
  //   width: 20px;
  //   height: 20px;
  // }

  cursor: pointer;
  fill: $ZIPPY__TREE_VIEW_MAIN_COLOR;
  transform: rotate(90deg);
  transition: transform 150ms ease;

  &--collapsed {
    transform: rotate(0);
  }
}

// rtl
.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--rtl {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__expander {
    &--collapsed {
      transform: rotate(180deg);
    }
  }

  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__horizontal {
    margin-right: $ZIPPY_TREE_VIEW_NODE_CONTENT_MARGIN_HORIZONTAL;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--ltr {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__horizontal {
    margin-left: $ZIPPY_TREE_VIEW_NODE_CONTENT_MARGIN_HORIZONTAL;
  }
}

// treelines
.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical {
  position: absolute;
  width: 1px;
  top: -1px;
  bottom: 1px;
  border-left: 1px solid #a1b6d3;
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--ltr {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical-top {
    margin-left: -4px;
  }

  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical {
    margin-left: -3px;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}--rtl {
  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical-top {
    margin-right: -4px;
  }

  .#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical {
    margin-right: -3px;
  }
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__horizontal {
  position: absolute;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  border-top: 1px solid #a1b6d3;
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__tree-line__vertical-top {
  position: absolute;
  width: 1px;
  top: -2px;
  bottom: 50%;
  border-left: 1px solid #a1b6d3;
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__loader {
  animation: loadAnimation 1.4s infinite linear;
  transform: translateZ(0);
  margin-left: 2px;
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__loader:before {
  width: 50%;
  height: 50%;
  background: #4f4f4f;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.#{$ZIPPY_TREE_VIEW_ROOT_CLASS}__node__loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes loadAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
