@import '../../../src/Filelist/style/theme/default/index.scss';
@import '../../../../ProgressBar/style/theme/default/index.scss';
@import './variables.scss';

.#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}--theme-default {
  min-height: 320px;
  // margin: 0 0 10px 0;
  overflow: auto;
  overflow-x: hidden;
  // overflow-y: auto;
  display: flex;
  flex-flow: column;
  // background-color: #f5f6f6;

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-icon {
    width: 150px;
    height: 150px;
    fill: #c4cbcd;
  }

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-text {
    font-size: 15px;
    color: $secondary-label-text-color;
    user-select: none;
  }

  &.#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}--over {
    border-color: $drop-hover-color;
    background: $drop-hover-color;

    .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-icon {
      fill: $drop-hover-color;
    }

    .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-text {
      color: #525252;
    }
  }

  &.#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}--hasfiles {
    background-color: #fff;

    .#{$ZIPPY-UPLOADER-FILE-ITEM} {
      margin: 3px;
      background: $file-bg-color;
      border: 1px solid $file-border-color;
      transition-duration: 0.2s;

      .react-file-extension-icon {
        margin-left: 6px;
      }

      .zippy-react-toolkit-progress-bar {
        margin: 0;
        border-radius: 0;
        border: 0;
        font-size: 8px;
        height: 5px;
      }

      .zippy-react-toolkit-progress-bar__fill {
        background-color: $progress-bar-active-color !important;
      }

      .zippy-react-toolkit-progress-bar__label {
        color: $progress-bar-active-color !important;
      }

      .zippy-react-toolkit-progress-bar__remaining {
        background-color: $progress-bar-remaining-color !important;
      }

      .zippy-react-toolkit-progress-bar__label {
        color: #000;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__clear-icon__layout {
        margin-right: 0;
        visibility: hidden;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__layout {
        margin-right: 0;
        margin-left: 7px;
      }

      &:hover {
        background: $file-hover-bg-color;

        .#{$ZIPPY-UPLOADER-FILE-ITEM}__clear-icon__layout {
          visibility: visible;
        }
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger {
        background: $button-bg-color;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;
        width: 80px;
        height: 22px;
        font-size: 13px;
        padding: 1px;
        transition-duration: 0.2s;

        &:focus {
          outline: none;
        }
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger-disabled {
        cursor: initial;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger--uploaded {
        background: white;
        height: 24px;
        border: 1px solid $uploaded-button-color;
        color: $uploaded-button-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger--uploading {
        background: white;
        height: 24px;
        border: 1px solid $uploading-button-color;
        color: $uploading-button-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger--queued {
        background: white;
        height: 24px;
        border: 1px solid $queued-button-color;
        color: $queued-button-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger--upload {
        height: 30px;
        padding: 1px 8px;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__clear-icon__trigger {
        border-radius: 0;
        border: 0;
        background: inherit;
        margin-right: 5px;

        svg {
          width: 14px;
          height: 14px;
          fill: $button-bg-color;
        }
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__name__text {
        font-size: 13px;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__success__text {
        font-size: 12px;
        color: $secondary-label-text-color;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__error__text {
        font-size: 12px;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__progress__text {
        font-size: 12px;
        color: $secondary-label-text-color;
      }

      .#{$ZIPPY-UPLOADER-FILE-ITEM}__size__layout {
        font-size: 12px;
        color: $secondary-label-text-color;
        margin-right: 7px;
      }
    }
  }

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-state__layout {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #222;
  }

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__over-state__layout,
  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__invalid-state__layout {
    flex: 1 0 auto;
    position: relative;
    min-height: 100%;
  }

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__over-state__wrapper {
    // background-color: rgba(111, 231, 255, 0.28);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $drop-hover-color;
    font-size: 12px;
  }

  &.#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}--invalid {
    // background: #fff;
    // border: 2px solid red;
  }
}

$FILE_UPLOADER: 'zippy-react-uploader';

.#{$FILE_UPLOADER}--theme-default {
  // background-color: #2a2a2a;
  border: 1px solid $border_color;
  // padding: 10px;
  height: 100%;
  position: relative;

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE} {
    margin: 0;
    overflow: auto;
    background-color: white;
  }

  .#{$FILE_UPLOADER}__menu-layout {
    width: 100%;
  }

  &.#{$FILE_UPLOADER}--menu-top {
    .#{$FILE_UPLOADER}__menu {
      display: flex;
    }

    .#{$FILE_UPLOADER}__menu-layout {
      border-bottom: 1px solid $border_color;
    }
  }

  &.#{$FILE_UPLOADER}--menu-bottom {
    .#{$FILE_UPLOADER}__menu-layout {
      background: white;
      border-top: 1px solid $border_color;
    }
  }

  .#{$FILE_UPLOADER}__menu {
    display: flex;
    padding: 6px;

    .#{$FILE_UPLOADER}__button-layout {
      margin: 0 5px 0 0;
    }

    .#{$FILE_UPLOADER}__button-layout:last-child {
      margin: 0;
    }
  }

  .#{$FILE_UPLOADER}__menu-progress-layout {
    * {
      color: $secondary-label-text-color;
    }
  }

  .#{$FILE_UPLOADER}__menu-progress {
    flex: 1;
  }

  .#{$FILE_UPLOADER}__error-message-layout {
    padding-top: 2px;
    padding-left: 10px;
    max-height: 200px;
    flex: 3;
    align-self: center;
  }

  .#{$FILE_UPLOADER}__error-message {
    font-family: inherit;
    font-size: 13px;
    color: red;
  }

  .#{$FILE_UPLOADER}__menu {
    color: #fff;
    font-size: 11px;

    &-progress-layout {
      font-size: 12px;
      color: $button-bg-color;
    }

    .zippy-react-toolkit-progress-bar {
      margin: 0;
      border-radius: 0;
      border: 0;
      font-size: 8px;
      height: 5px;
    }

    .zippy-react-toolkit-progress-bar__label {
      color: $progress-bar-active-color !important;
    }

    .zippy-react-toolkit-progress-bar__fill {
      background-color: $progress-bar-active-color;
    }

    .zippy-react-toolkit-progress-bar__remaining {
      background-color: $progress-bar-remaining-color !important;
    }

    .zippy-react-toolkit-progress-bar__label {
      color: #000;
    }
  }
}
