@import '../src/Filelist/style/base.scss';
@import '../../ProgressBar/style/base.scss';
@import './variables.scss';

.zippy-react-uploader-file-input {
  input[type='file'] {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }
}

.zippy-react-uploader__menu-progress-layout {
  display: flex;
  align-items: center;
  padding: 0 23px 0 0;
  flex: 1;

  & > * {
    width: 100%;
  }
}

.zippy-react-uploader {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE} {
    flex: 1;

    .#{$ZIPPY-UPLOADER-FILE_DROP_ZONE}__empty-placeholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
