$ZIPPY_NOTIFICATION_THEME_NAME: 'default' !default;
$ZIPPY_NOTIFICATION_MAIN_COLOR: #1565c0 !default;
$ZIPPY_NOTIFICATION_BACKGROUND: #495e85 !default;
$ZIPPY_NOTIFICATION_SECONDARY_COLOR: #e9ecf0 !default;
$ZIPPY_NOTIFICATION_BORDER_RADIUS: 2px !default;

$ZIPPY_NOTIFICATION_FONT_WEIGHT: 500 !default;
$ZIPPY_NOTIFICATION_FONT_SIZE: 14px !default;

$ZIPPY_NOTIFICATION_HEADER_FONT_SIZE: 14px !default;
$ZIPPY_NOTIFICATION_HEADER_FONT_WEIGHT: 600 !default;
$ZIPPY_NOTIFICATION_HEADER_PADDING: 16px 8px !default;

$ZIPPY_NOTIFICATION_PADDING: 15px !default;
$ZIPPY_NOTIFICATION_TITLE_MARGIN: 5px !default;
$ZIPPY_NOTIFICATION_BUTTON_MARGIN: 2px !default;
