@import "./variables.scss";
@import "../../DropdownButton/style/base.scss";
@import "../../Button/style/base.scss";

.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS} {
  display: inline-flex;
  text-align: start;
  direction: ltr;
  vertical-align: middle;
}

.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}__dropdown-button
.zippy-react-toolkit-button__text {
  display: none;
}

.#{$ZIPPY_SPLIT_BUTTON_ROOT_CLASS}--rtl {
  direction: rtl;
}
