@import "../../ArrowScroller/style/base.scss";
@import "../../CheckBox/style/base.scss";
@import "../../RadioButton/style/base.scss";
@import "./variables.scss";

.#{$ZIPPY_MENU_ROOT_CLASS} {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  display: inline-flex;
  position: relative;
}

// scroll
.#{$ZIPPY_MENU_ROOT_CLASS}--hasoverflow {
}

.#{$ZIPPY_MENU_ROOT_CLASS}--hidden {
}

.#{$ZIPPY_MENU_ROOT_CLASS}__arrow {
  position: absolute;
  background: none;
  padding: 0;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  svg {
    height: 13px;
  }

  &:focus {
    outline: none;
  }
}

.#{$ZIPPY_MENU_ROOT_CLASS}__cell {
  white-space: nowrap;
  background: none;

  &--has-expander {
  }

  // button when inline-block inside table will
  // add extra space top bottom
  > button {
    display: block;
  }
}

.#{$ZIPPY_MENU_ROOT_CLASS}__expander {
  vertical-align: middle;
}

.#{$ZIPPY_MENU_ROOT_CLASS}__submenu-wrapper {
  position: absolute;
  z-index: 500;
}

.#{$ZIPPY_MENU_ROOT_CLASS}__menu-separator {
  cursor: auto;
  height: 1px;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--depth-0 {
}

.#{$ZIPPY_MENU_ROOT_CLASS}--depth-1 {
}

.#{$ZIPPY_MENU_ROOT_CLASS}--depth-2 {
}

.#{$ZIPPY_MENU_ROOT_CLASS}:focus {
  outline: none;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--absolute {
  position: absolute;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--disabled {
}

.#{$ZIPPY_MENU_ROOT_CLASS}__row--disabled {
  pointer-events: none;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--no-display {
  position: absolute;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--hidden {
  visibility: hidden;
}

.#{$ZIPPY_MENU_ROOT_CLASS}--rtl {
  .#{$ZIPPY_MENU_ROOT_CLASS}__table {
    direction: rtl;
  }
}

// subcomponents
.#{$ZIPPY_MENU_ROOT_CLASS}__scroll-container {
  width: 100%;
}

.#{$ZIPPY_MENU_ROOT_CLASS}__table {
  direction: ltr;
  width: 100%;
  text-align: start;
  border-spacing: 0;
  padding: 8px 6px;
  border-collapse: separate;
}

.#{$ZIPPY_MENU_ROOT_CLASS}__row {
  cursor: pointer;
  user-select: none;

  &--active {
  }
}

.#{$ZIPPY_MENU_ROOT_CLASS}__arrow-up {
  top: 0;
}

.#{$ZIPPY_MENU_ROOT_CLASS}__arrow-down {
  bottom: 0;
}

// submenu animation
.#{$ZIPPY_MENU_ROOT_CLASS}__submenu-wrapper {
}

.#{$ZIPPY_MENU_ROOT_CLASS}--animation-enabled {
  transform: scale(0, 0);
}

.#{$ZIPPY_MENU_ROOT_CLASS}--transition-start {
  transform-origin: left top;
  transition: transform 150ms ease;

  &.#{$ZIPPY_MENU_ROOT_CLASS}--position-down {
    transform-origin: left bottom;
  }

  .#{$ZIPPY_MENU_ROOT_CLASS}__row {
    transform: scale(1, 0);
    transition: transform 150ms ease;
  }
}

.#{$ZIPPY_MENU_ROOT_CLASS}--transition-end {
  transform: scale(1, 1);

  .#{$ZIPPY_MENU_ROOT_CLASS}__row {
    transform: scale(1, 1);
  }
}
