$ZIPPY-UPLOADER-FILE-EXTENSION: "zippy-react-file-extension-icon";

.#{$ZIPPY-UPLOADER-FILE-EXTENSION} {
  margin: 0;
  flex-flow: column-reverse;
  display: flex;

  &__label {
    display: block;
    height: 10px;
    width: 100%;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

$ZIPPY-UPLOADER-FILE-ITEM: "zippy-react-file-item";

.#{$ZIPPY-UPLOADER-FILE-ITEM} {
  display: flex;
  align-items: stretch;
  min-height: 50px;
  font-size: 11px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+50,ffffff+100 */
  background: linear-gradient(to bottom, #fff 0%, #f9f9f9 50%, #fff 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #dfe1e5;
  transition: all 50ms ease-in;

  &:nth-child(odd) {
    background: linear-gradient(
      to bottom,
      #fefefe 0%,
      #f7f7f7 50%,
      #fefefe 100%
    );

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &:hover {
    background: linear-gradient(
      to bottom,
      #f3fcff 0%,
      #e5f4ff 50%,
      #f3fcff 100%
    );
  }

  &__name__layout,
  &__clear-icon__layout,
  &__extension__layout,
  &__size__layout,
  &__upload-button__layout,
  &__progress__layout,
  &__error__layout,
  &__success__layout,
  &__queued__layout {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-shrink: 1;
    margin: 0 5px;
  }

  &__extension__layout {
    margin: 0 9px 0 5px;
  }

  &__name__layout,
  &__progress__layout,
  &__error__layout,
  &__success__layout,
  &__queued__layout {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__name__layout,
  &__progress__layout,
  &__error__layout,
  &__success__layout,
  &__queued__layout {
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
  }

  &__success__text {
    display: inline-block;
    text-align: left;
  }

  &__progress__text {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }

  &__size__layout {
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1px 0;
    width: 40px;
    overflow: visible;
    margin-left: 0;
  }

  &__name__text {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    color: #525252;
  }

  &__clear-icon__layout {
    // padding: 0 10px;
  }

  &__clear-icon__trigger {
    border-radius: 50%;
    background: #fff;
    border: 1px solid #dfe1e5;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    transition: all 100ms ease-in;
  }

  &__clear-icon__trigger:hover {
    background-color: #ed4b3f;
    border-color: #d20e00;

    .#{$ZIPPY-UPLOADER-FILE-ITEM}__clear-icon__icon {
      fill: #fff;
    }
  }

  &__clear-icon__content {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: #000;
  }

  &__extension__layout {
    font-size: 7px;
  }

  .react-progress-bar--horizontal {
    height: 6px;
    margin: 0;
    font-size: 6px;
    line-height: 6px;
  }

  &__progress__wrapper {
    width: 100%;
  }

  &__upload-button__layout button {
    background-color: #1085c5;
    border: none;
    border-radius: 0;
    font-size: 7px;
    color: #fff;
    height: 16px;
    cursor: pointer;
    // width: 48px;
  }

  &__upload-button__layout button[disabled] {
    background-color: #e9e9e9;
    color: #aaa;
    cursor: progress;
  }

  &__upload-button__layout
  button.#{$ZIPPY-UPLOADER-FILE-ITEM}__upload-button__trigger--done {
    background-color: #6cc033;
    color: #f1ffbf;
    cursor: initial;
  }

  &__error__text {
    color: #f94300;
    font-size: 9px;
  }
}
