.#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view--theme-#{$ZIPPY_CALENDAR_THEME_NAME} {
  padding: 2px 0;
  min-height: 92px;
  min-width: 238px;

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-row {
    min-width: 190px;
    min-height: 46px;
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-arrow {
    cursor: pointer;
    position: relative;
    fill: $ZIPPY_CALENDAR_NAV_BAR_ARROW_COLOR;
    user-select: none;

    &--disabled {
      fill: $ZIPPY_CALENDAR_NAV_BAR_ARROW_COLOR_DISABLED;
    }
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-arrow--prev {
    &:not(.#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-arrow--disabled) {
      &:active {
        right: 1px;
      }
    }
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-arrow--next {
    &:not(.#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-arrow--disabled) {
      &:active {
        left: 1px;
      }
    }
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-year {
    margin: 5px 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    max-height: 36px;
    min-width: 36px;
    max-width: 36px;
    height: 36px;
    // transition: background 0.2s;

    &:hover {
      background: $ZIPPY_CALENDAR_DAY_COLOR_HOVER;
    }

    &--disabled {
      color: $ZIPPY_CALENDAR_DAY_COLOR_DISABLED;
    }
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-year--active {
    // border: 2px solid $ZIPPY_CALENDAR_ACTIVE_COLOR;
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-year--value {
    color: #495e85;
    background: #e8f2ff padding-box;
    // border: 2px solid $ZIPPY_CALENDAR_ACTIVE_COLOR;
  }

  .#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-year--active.#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view-year--value {
    // background: lighten($ZIPPY_CALENDAR_ACTIVE_COLOR, 5%) padding-box;
  }
}
