.#{$ZIPPY_CALENDAR_ROOT_CLASS}__input--theme-#{$ZIPPY_CALENDAR_THEME_NAME} {
  border: none;
  outline: none;
  padding-left: 8px;
  min-height: 30px;
  color: $ZIPPY_CALENDAR_WEEK_DAYS_FONT_COLOR;
  font-size: $ZIPPY_CALENDAR_WEEK_DAYS_FONT_SIZE;

  &.#{$ZIPPY_CALENDAR_ROOT_CLASS}__input--disabled {
    color: rgba(#525252, 0.5);
  }
}
