@import "./variables.scss";

.#{$ZIPPY_SLIDER_ROOT_CLASS}.#{$ZIPPY_SLIDER_ROOT_CLASS}--theme-#{$ZIPPY_SLIDER_THEME_NAME} {
  outline: 0;
  border: 1px solid transparent;

  &.#{$ZIPPY_SLIDER_ROOT_CLASS}--focused {
    border: $ZIPPY_SLIDER_BORDER_FOCUS;
  }

  .#{$ZIPPY_SLIDER_ROOT_CLASS} {
    &__track {
      background-color: $ZIPPY_SLIDER_SLIDER_BAR_BACKGROUND;
    }

    &__handle {
      outline: 0;
      background-color: $ZIPPY_SLIDER_HANDLERS_BACKGROUND;
      transition: background-color 0.2s;

      &:hover {
        background-color: $ZIPPY_SLIDER_HANDLERS_BACKGROUND_FOCUS;
      }

      &--focused {
        background-color: $ZIPPY_SLIDER_HANDLERS_BACKGROUND_FOCUS;
      }
    }

    &__track-fill {
      background-color: $ZIPPY_SLIDER_TRACK_BAR_BACKGROUND;
      outline: 0;
      transition: background-color 0.2s;

      &:hover {
        background-color: $ZIPPY_SLIDER_TRACK_BAR_BACKGROUND_FOCUS;
      }

      &--focused {
        background-color: $ZIPPY_SLIDER_TRACK_BAR_BACKGROUND_FOCUS;
      }
    }

    &__tick {
      // cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 13px;
      color: $ZIPPY_SLIDER_TICK_COLOR;
      background-color: $ZIPPY_SLIDER_TICKS_BIG_BACKGROUND;
      line-height: 1px;

      &--contained-value,
      &--current-value {
        color: $ZIPPY_SLIDER_TICK_COLOR;
      }

      &--small {
        background-color: $ZIPPY_SLIDER_TICKS_SMALL_BACKGROUND;
      }
    }

    &__control-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 24px;
      height: 24px;
      padding: 0;
      outline: 0;
      border-radius: 50%;

      svg {
        fill: $ZIPPY_SLIDER_BUTTONS_FILL;
      }

      &:hover {
        svg {
          fill: $ZIPPY_SLIDER_BUTTONS_FILL_HOVER;
        }
      }
    }
  }

  &.#{$ZIPPY_SLIDER_ROOT_CLASS} {
    &--horizontal-orientation {
      min-height: 30px;
      width: 300px;

      .#{ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
        margin: 0 6px;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
        &--tick-bars-position-start {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            bottom: 20px;
          }
        }

        &--tick-bars-position-end {
          .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
            top: 20px;
          }
        }
      }
    }

    &--tick-bar-horizontal-both {
      .#{$ZIPPY_SLIDER_ROOT_CLASS}__wrap {
        .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-wrap {
          &--tick-bars-position-start {
            .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
              bottom: 20px;
            }
          }

          &--tick-bars-position-end {
            .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick-label {
              top: 20px;
            }
          }
        }
      }
    }

    &--vertical-orientation {
      height: 300px;
      min-width: 30px;

      .#{ZIPPY_SLIDER_ROOT_CLASS}__input-wrapper {
        margin: 6px 0;
      }

      .#{$ZIPPY_SLIDER_ROOT_CLASS}__tick {
        // border-top-color: rgba(0,0,0,.3);
      }
    }
  }
}
