@import './variables.scss';

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__clock {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  display: inline-block;
  border: 5px solid gray;
  border-radius: 50%;
  position: relative;
}

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__clock-overlay,
.#{$ZIPPY_CALENDAR_ROOT_CLASS}__clock-center {
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__clock-hand,
.#{$ZIPPY_CALENDAR_ROOT_CLASS}__clock-tick {
  position: absolute;
  // transform-origin: top;

  left: 50%;
  top: 50%;
  width: 1px;
  background: gray;
}
