@import './variables.scss';

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__decade-view {
  box-sizing: border-box;
  outline: none;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &-year {
    text-align: center;
  }
}
