@import './variables.scss';

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__time-picker {
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.#{$ZIPPY_CALENDAR_ROOT_CLASS}__time-picker-input {
  margin-top: 10px;
}
