$ZIPPY_CALENDAR_ROOT_CLASS: 'zippy-react-toolkit-calendar' !default;
$ZIPPY_DATE_INPUT_ROOT_CLASS: 'zippy-react-toolkit-date-input' !default;
$ZIPPY_OVERLAY_ROOT_CLASS: '#{$ZIPPY_DATE_INPUT_ROOT_CLASS}__overlay' !default;
