/**
 * Copyright 2015-present, Zippy Technologies.
 * All rights reserved.
 */

@import "./variables";
@import "../../ColorTextInput/style/base.scss";
@import "../../Button/style/base.scss";
@import "../../ColorPalette/style/base.scss";
@import "../../ColorPicker/style/base.scss";

.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS} {
  position: relative;
  display: inline-flex;
  text-align: start;
  direction: ltr;
}

.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}--rtl {
  direction: rtl;
}

// dropdown
.#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}__overlay {
  position: absolute;
  top: 100%;
  left: 0;
}

// button
.#{$ZIPPY_BUTTON_ROOT_CLASS} {
  display: flex;
}

.#{$ZIPPY_BUTTON_ROOT_CLASS}__icon {
  display: flex;
  flex: 1;
  align-items: center;
}
