/**
 * Copyright 2015-present, Zippy Technologies.
 * All rights reserved.
 */

$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS: 'zippy-react-toolkit-color-picker-input';
$ZIPPY_COLOR_TEXT_INPUT_ROOT_CLASS: '#{$ZIPPY_COLOR_PICKER_INPUT_ROOT_CLASS}__color-input';
$ZIPPY_COLOR_CUSTOM_COLOR_PALETTE: 'zippy-react-toolkit-custom-color-palette';
$ZIPPY_COLOR_EDIT_COLOR_PICKER: 'zippy-react-toolkit-edit-color-picker';
