@import './variables.scss';
@import '../../Panel/style/title-rotate.scss';

@include apply-title-rotate($ZIPPY_WINDOW_ROOT_CLASS);

.#{$ZIPPY_WINDOW_ROOT_CLASS} {
  position: absolute;

  /**
   * box-sizing must be border-box, if not,
   * resize will buggy if dilog has a border
   */
  box-sizing: border-box;
  text-align: start;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  // overflow: hidden;

  &:focus {
    outline: none;
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--has-move-proxy,
.#{$ZIPPY_WINDOW_ROOT_CLASS}--has-iframe {
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__body {
    position: relative;
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body {
  flex: 1;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body:not(.#{$ZIPPY_WINDOW_ROOT_CLASS}__body--scrollable) {
  overflow: hidden;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body-footer {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body-footer-scrollable {
  overflow: auto;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--collapsed .#{$ZIPPY_WINDOW_ROOT_CLASS}__body {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body--scrollable {
  overflow: auto;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__proxy {
  box-sizing: border-box;
  border: 1px dotted #a1b6d3;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar {
  display: flex;
  user-select: none;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  display: flex;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title {
  // flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--invisible {
  display: none;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--rtl {
  direction: rtl;
}

// Centered
.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered {
  // top: 50%;
  // left: 50%;
  // transform: translateY(-50%) translateX(-50%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  & > .#{$ZIPPY_WINDOW_ROOT_CLASS}__proxy {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__body-move-proxy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.85;
  z-index: 100;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered.#{$ZIPPY_WINDOW_ROOT_CLASS}--keep-position-centered {
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__proxy {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered-vertical {
  margin: auto;
  top: 0;
  bottom: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered-vertical.#{$ZIPPY_WINDOW_ROOT_CLASS}--keep-position-centered {
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__proxy {
    top: 50%;
    transform: translateY(-50%);
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered-horizontal {
  left: 0;
  right: 0;
  margin: auto;
  // left: 50%;
  // transform: translateX(-50%);
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--centered-horizontal.#{$ZIPPY_WINDOW_ROOT_CLASS}--keep-position-centered {
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__proxy {
    left: 50%;
    transform: translateX(-50%);
  }
}

// maximisex must be after centered style
// so it will overwrite it
.#{$ZIPPY_WINDOW_ROOT_CLASS}--maximized:not(.#{$ZIPPY_WINDOW_ROOT_CLASS}--maximized-transition) {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: none;

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--draggable
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar {
    cursor: initial;
  }
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--fixed {
  position: fixed;
}

// stacking
.#{$ZIPPY_WINDOW_ROOT_CLASS}--is-top-modal {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
.#{$ZIPPY_WINDOW_ROOT_CLASS}__modal-wrapper--fixed {
  position: fixed;
}
*/

// titlebar
.#{$ZIPPY_WINDOW_ROOT_CLASS}--draggable {
  .#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar {
    cursor: move;
  }
}

// titlebar tools
.#{$ZIPPY_WINDOW_ROOT_CLASS}__tools {
  display: flex;
  cursor: initial;
  white-space: nowrap;
  // max-width: 50%;
  overflow: hidden;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__tool {
  flex-shrink: 0;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}--title-bar-position-bottom {
  flex-direction: column-reverse;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar--align-center
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper {
  justify-content: center;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar--align-left
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper,
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar--align-start
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper {
  justify-content: flex-start;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar--align-right
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper,
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-bar--align-end
.#{$ZIPPY_WINDOW_ROOT_CLASS}__title-wrapper {
  justify-content: flex-end;
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__close-icon,
.#{$ZIPPY_WINDOW_ROOT_CLASS}__minimize-icon,
.#{$ZIPPY_WINDOW_ROOT_CLASS}__restore-icon,
.#{$ZIPPY_WINDOW_ROOT_CLASS}__maximize-icon {
  cursor: pointer;
}

// animation
.#{$ZIPPY_WINDOW_ROOT_CLASS}--has-transition {
  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--invisible {
    // display: none;
    // opacity: 0;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--transition-enter {
    // display: inherit;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--transition-enter-active {
    // display: inherit;
    opacity: 1;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--transition-leave {
    // display: inherit;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  &.#{$ZIPPY_WINDOW_ROOT_CLASS}--transition-leave-active {
    // display: inherit;
    .#{$ZIPPY_WINDOW_ROOT_CLASS}__body {
      overflow: hidden;
    }

    opacity: 0;
  }
}

// handles
.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--t {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--b {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--l {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--r {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--tl {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--tr {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--bl {
}

.#{$ZIPPY_WINDOW_ROOT_CLASS}__handle--br {
}
